*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:#1e222b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}

.home{
   height: 100vh;
   background: #1e222b;
   color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;


}
.wrapper{
    width: 800px;
    height: 600px;
    background: #fff;
    color: #1e222b;
    padding: 40px;
   
   

  
}
.title-app{
    display: flex;
    justify-content: center;
    align-content: center;
}
.task-input{
    display: flex;
  
    align-content: space-between;
    justify-content: space-between; 
    margin-top: 20px;
    padding: 20px;
    
}
.task-input input{
    border: 5px;

    width: 350px;
    padding: 20px;
    height: 30px;
    font-size: 25;
    font-weight: 200;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.task-input span{
    width: 150px;
    background: #144ed6;
    color: #fff;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    font-weight: 200;
}
.control{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1e222b;
    color: #fff;
    border-radius: 10px;
}
.control button{
    width: 100px;
    background: rgb(233, 27, 27);
    color: #fff;
    border-color: #fff;
    border: 2px;
    border-radius: 10px;
    font-weight: 200;
    font-size: 19px;
}
.filter{
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    font-weight: 400;
    font-size: 20px;
}
.filter span{
    padding: 40px;
    

}
.task-box{
justify-content: center;
padding: 10px;
}
.task{
    justify-content: space-between;
    align-content: space-between;
    display: flex;
    padding: 20px;
}
.settings{
    background:#fff ;
    color: #1e222b;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
