*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:#1e222b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}

.home{
   height: 100vh;
   background: #1e222b;
   color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.wrapper{
    width: 800px;
    height: 600px;
    background: #fff;
    color: #1e222b;
    padding: 40px;
   
   

  
}
.title-app{
    display: flex;
    justify-content: center;
    align-content: center;
}
.task-input{
    display: flex;
    justify-items: center;
    align-content: center;
    justify-content: center; 
    margin-top: 20px;
    padding: 20px;
    
}
.task-input input{
    border: 5px;

    width: 250px;
    padding: 20px;
    height: 30px;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.control{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1e222b;
    color: #fff;
    border-radius: 10px;
}
.filter{
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    font-weight: 400;
    font-size: 20px;
}
.filter span{
    padding: 40px;
    

}
